.container {
  display: grid;
  grid-template-columns: 160px 692px auto 180px;
  grid-template-rows: 46px 58px auto 80px;
  grid-template-areas:
  "logo search . account"
  ". search-settings . ."
  ". main . ."
  "footer footer footer footer";
  margin-top: 20px;
}

#logo {
  grid-area: logo;
  align-self: center;
  margin-left: 25px;
}

#search {
  grid-area: search;
  align-self: end;
  justify-self: stretch;
}

#account {
  grid-area: account;
  justify-self: end;
  align-self: center;
  margin-right: 25px;
}

#search-settings {
  grid-area: search-settings;
}

#main {
  grid-area: main;
}

#footer {
  grid-area: footer;
}

.search-form {

}

.search-input {
  height: 46px;
  width: 100%;
  font: 16px arial,sans-serif;
  border: solid 1px #dfe1e5;
  border-radius: 24px;
  padding: 0 50px 0 20px;
}
.search-button {
  height: 40px;
  width: 40px;
  margin-left: -53px;
  background: transparent;
  color: #4285f4;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  fill: currentColor;
}
.sign-button {
  font-family: 'Open Sans', sans-serif;
  background: #1a73e8;
  border: 1px solid transparent;
  font-size: 14px;
  margin-left: 10px;
  min-width: 96px;
  padding: 8px 25px;
  text-align: center;
  vertical-align: middle;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
}
.google-services {
  color: #5f6368;
  fill: currentColor;
  opacity: 1;
  width: 40px;
  padding: 8px;
  vertical-align: middle;
}
